---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets"; 
import mooshImage from "../../../public/moosh.jpg"; 
---

<Layout title="Moosh">
    <main>
        <div class="container">
            <section>
                <div>
                    <p>And the days are not full enough</p>
                    <p>And the nights are not full enough</p>
                    <p>And life slips by like a field mouse</p>
                    <p class="indent">Not shaking the grass.</p>
                    <p class="right-align">- Ezra Pound</p>
                </div>
            </section>
            <section class="moosh_section">
                <Image src={mooshImage} alt="Moosh"></Image>
                <p>Moosh</p>
                <p>2020-2024</p>
                <p>Lion * Mouse * Friend</p>
                <p>Mooshmooshmooshmooshmoosh</p>
            </section>
        </div>
    </main>
</Layout>

<style>
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .right-align {
        text-align: right;
    }

    .indent {
        margin-left: 4rem;
    }

    img {
        border-radius: 8px;
        max-width: 450px;
        height: auto;
    }

    @media (max-width: 700px) {
        img {
            max-width: 100%;
        }
    }
</style>