---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../../posts/*.md"); 
    return posts.map(post => (
        {
            params: {
                slug: post.frontmatter.slug
            },
            props: {
                post
            }
        }
    ))
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <main>
        <div class="container">
            <header id="post-header">
                <a id="blog-back-link" href="/blog">&crarr; Back</a>

                <h1 id="post-title">{frontmatter.title}</h1>

                <div class="blog-info-container">
                    <p id="blog-date">Date: {new Date(frontmatter.date).toLocaleDateString()}</p>
                    <p id="blog-category">Category: 
                        <a class="category-link" href=`/blog/category/${frontmatter.category}`>{frontmatter.category}</a>
                    </p>
                </div>
                
            </header>

            <article class="blog-post">
                <Content />
            </article>
        </div>
    </main>
</Layout>


<style>
    .blog-info-container {
        font-size: .9rem;
        font-weight: bold; 
        margin: 1rem 0 2rem; 
    }

    .blog-info-container p {
        
    }

</style>