---
import Layout from "../../layouts/Layout.astro";
import { slugify } from "../../utils/utils";
import { getCollection, type CollectionEntry } from 'astro:content';

export interface Props {
    post: CollectionEntry<"posts">
}

export async function getStaticPaths() {
    const posts = await getCollection("posts"); 

    return posts.map(post => (
        {
            params: {
                slug: post.slug
            },
            props: {
                post: post
            }
        }
    ))
}

const { post } = Astro.props as Props;
const { Content } = await post.render();
---

<Layout title={post.data.title + " | Edrees Wahezi"}>
    <main>
        <div class="container">
            <article class="blog-post">
                <header id="post-header">
                    <a id="blog-back-link" href="/blog">&crarr; Back</a>

                    <h1 id="post-title">{post.data.title}</h1>

                    <div class="blog-info-container">
                        <p id="blog-date">Date: {new Date(post.data.date).toLocaleDateString()}</p>
                        <p id="blog-category">Category: 
                            <a class="category-link" href=`/blog/category/${slugify(post.data.category)}`>{post.data.category}</a>
                        </p>
                    </div>
                    
                </header>

           
                <Content />
            </article>

            <section class="contact-me-blurb">
                <img id="logo" src="/mirrorshieldpixel.png" alt="mirror shield logo">
                <p>* * *</p>
                <p>[[[ Hey, thanks for reading. If you have any thoughts or comments you'd like to share with me, feel free to <a href="/about">reach out directly.</a> ]]]</p>
            </section>
        </div>
    </main>
</Layout>


<style>
    .blog-info-container {
        /* font-size: .75rem; */
        /* font-weight: bold; */
        font-style: italic;
        margin: 1rem 0 2rem; 

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contact-me-blurb {
        /* padding-top: 3rem; */
        text-align: center;

        border: 2px solid var(--font-color);
        border-radius: 10px;
        padding: 2rem;
    }

    .contact-me-blurb #logo {
        max-width: 128px;
    }



</style>

<style is:global>
    .blog-post img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;

        margin-left: auto;
        margin-right: auto;

        border-radius: 8px;
    }
</style>