---
import Layout from "../../layouts/Layout.astro";
import PostsList from "../../components/PostsList.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts"); 
---

<Layout title="Blog">
    <main>
        <div class="container">
            <header class="main-content-header">
                <h1>Blog</h1>
            </header>

            <PostsList
                posts={posts} />

        </div>
    </main>
</Layout>

<style>

</style>