---
import Layout from "../../layouts/Layout.astro";
import PostLink from "../../components/PostLink.astro";
import PostsList from "../../components/PostsList.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts"); 
---

<Layout title="Blog">
    <main>
        <div class="container">
            <header class="main-content-header">
                <h1>Blog</h1>
            </header>

            <PostsList>
                {posts.map(post => (
                    <PostLink 
                        title={post.data.title}
                        date={post.data.date}
                        category={post.data.category}
                        slug={post.slug}/>
                ))}
            </PostsList>

        </div>
    </main>
</Layout>

<style>

</style>