*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html.dark {
    --background-color: #181818; /*darker*/
    --background-secondary-color: #373a3d; /*lighter*/
    --accent-primary: #7f5af0; 
    --font-color: #F2F2F2; 

}

html.light {
    --background-color: #fffffe; 
    --background-secondary-color: #dedede; 
    --accent-primary: #6246ea; 
    --font-color: #2b2c34; 
}


:root {
    background-color: var(--background-color);
    color: var(--font-color); 
}

p {
    margin: 1rem 0;
}


body {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    /*font-family: -Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main a {
    text-decoration: none;
    color: var(--accent-primary);
}

main a:hover {
    /*font-weight: bold;*/
    text-decoration: underline;
}

ul{
    /*list-style-position: inside;*/
    /*padding: 1rem 0; */
    color: var(--font-color);
    margin-left: 2rem;
}


section {
    margin: 2rem 0/* 3rem*/;
}

/*Content Containers */
.container {
    /*max-width: 1200px;*/
    /*max-width: 900px; */
    /* 900 seems to be a good width for text/article content, but might want to set the container 
    width wider and set up another class/container for text specifically since you might want to 
    use a wider general width for other less text oriented pages (like the Art subpage, which will 
    have tiles of images...) */
    max-width: 65ch;
    /* ch is approx one char length, <=75 chars per line is apparently best for readability.
    if using this ch then might wanna do what the above comment suggests and have a separate article/text/p width 
    using ch, since it looks rather narrow for everything that's not just text */
    /*max-width: 60rem; */
    margin: 0 auto;
    /*padding: 0 2rem; */ /*don't know that i really need left/right padding here since it's a single column site, but if you do add it back don't forget to increase the content width (max-width) above to account for the padding. still try to keep it under 80 or 75 though. */
}



main {
    flex: 1; 
    width: 100%;
    /*padding: 10px 0; */
}

/*
.category-link {
    
    border: 1px solid var(--accent-primary);
    padding:.4rem;
    border-radius: 5px;
    
}
*/

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: bold;
    
    margin: 1rem 0 1rem;
}

section h1,
section h2 {
    border-bottom: 2px solid var(--background-secondary-color);
}


/* Specifying header sizes since putting them in an article or section tag changes the default font sizes for some reason */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}



@media (max-width: 700px) {
    .container {
        padding: 0 1rem;
    }
}


