---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import ArtCard from "../../components/ArtCard.astro";
import { getCollection, type CollectionEntry } from 'astro:content';

export interface Props {
    illustration: CollectionEntry<"illustrations">
}

let illustrations = await getCollection("illustrations"); 
illustrations = illustrations.sort((a, b) => b.data.year - a.data.year);
---

<Layout title="Art | Edrees Wahezi">
    <main>
        <div class="container">

            <header class="main-content-header">
                <h1>Art</h1>
                <p>This page is currently being reworked as I re-evaluate my art/illustration goals.</p>
            </header>

            <div id="message-container-404">
                <a href="/">
                    <img id="log-404" src="/mirrorshieldpixel.png" alt="Go back to home page">
                </a>
            </div>
    
        </div>
    <!--
        <div class="art-cards-container">
            {
                illustrations.map(illustration => (
                <ArtCard 
                    illustration={illustration}
                />
                )) 
                
            }
        </div>
    -->

        
    </main>
    </Main>
</Layout>

<style>
    #message-container-404 {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo-404 {
        max-width: 128px;
    }
    
    .container-art {
        max-width: 1200px;

        margin: 0 auto; 
        padding: 0 1rem; 
    } 
    
    .art-cards-container {        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem; 
    }

    .note {
        font-size: .75rem;
    }

    @media (max-width: 800px) {
        .art-cards-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 450px) {
        .art-cards-container {
            grid-template-columns: 1fr;
        }
    }

</style>