---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>About Me</h1>
                    <p>Hey! I'm Edrees (pronounced "E-Drees" with a long "ee" sound).</p>
                </header>
                <section>
                    <h2></h2>
                </section>
            </article>
        </div>
    </main>
</Layout>