---
import type { intersection, nativeEnum } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import type Music from "./music.astro";
---

<Layout title="About Me | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>About Me</h1>
                    <p>Hello hello, I'm Edrees (pronounced "E-Drees" with a long "ee" sound). This website is just my attempt to put a piece of myself out there on the internet and share whatever I might find interesting.</p>
                </header>
                <section>
                    <h2>Contact Info and Links</h2>
                    <p>If you want to reach out, you can send me a message at...TODO</p>
                    <p>Some other places you can find me online:</p>
                    <ul>
                        <li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                        <li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
                        <li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Things I'm Into</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong> - I like playing them, talking about them, keeping up with the industry, everything. I'm currently trying to learn more about game development.</li>
                        <li><strong>Language</strong> - I love digging into the unique quirks of different languages, and I've dabbled with the basics of a few here and there.</li>
                            <ul>
                                <li><strong>Farsi / Persion (Dari)</strong> - <em>Technically</em> my first language, but my speaking abilities have completely atrophied as an adult. It might be time to try and pick it back up.</li>
                                <li><strong>Japanese</strong> - Exposure to the language through video games, manga, and anime led to me officially studying the language for about one year at university.</li>
                                <li><strong>Arabic</strong> - A language with cultural and religious significance that my ear has been accustomed to hearing since childhood. I studied the basics for 2 years at university.</li>
                                <li><strong>Spanish</strong> - Technically studied this langauge for 3 years in High School, but almost none of it stuck. I'd love to learn it to fluency someday.</li>
                            </ul>
                        <li><strong>Drawing</strong> - I always liked to draw and doodle as a kid, but never really pursued it seriously. As an adult, <a href="/art">I've been trying to get back into it.</a></li>
                        <li><strong>The Lord of the Rings</strong> - I really love fantasy worlds with comprehensive world building, and Tolkien's Middle Earth is about as fleshed out as one can hope for. The movie trilogy remains my favorite film series ever made.</li>
                        <li><strong>Music</strong> - I mainly got into music through video game soundtracks and I'm currently trying to learn both Guitar and Piano. I've also started to try my hand at writing (and recording) some music, so check that out on my <a href="/music">music page.</a></li>
                        <li><strong>Programming/Development</strong> - My current fascinations are both Web and Game Development.</li>
                    </ul>
                </section>
                <section>
                    <h2>Favorites</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong></li>
                            <ul>
                                <li>The Legend of Zelda: Majora's Mask</li>
                                <li>Final Fantasy X</li>
                                <li>Metal Gear Solid 3</li>
                                <li>Dark Souls</li>
                                <li>Outer Wilds</li>
                                <li>Lots more...</li>
                            </ul>
                        <li><strong>Color</strong> - Purple</li>
                        <li><strong>Thing to do</strong> - Chattering on and on about things I'm passionate about, including griping about the parts of those things that I might not like very much.</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>