---
import type { intersection, nativeEnum } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import type Music from "./music.astro";
---

<Layout title="About Me | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>About Me</h1>
                    <p>Hello hello, I'm Edrees (pronounced "E-Drees" with a long "ee" sound). This website is just my attempt to put a piece of myself out there on the internet and share whatever I might find interesting.</p>
                </header>
                <section>
                    <h2>Contact Info and Links</h2>
                    <p>If you want to reach out, you can send me a message at...TODO</p>
                    <p>Some other places you can find me online:</p>
                    <ul>
                        <li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                        <li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
                        <li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Things I'm Into</h2>
                    <ul>
                        <li><strong>Video Games</strong> - I like playing them, talking about them, keeping up with the industry, everything. I'm currently trying to learn more about the process of actually making some myself.</li>
                        <li><strong>Language</strong> - Different languages are windows into new worlds and I love digging into their unique quirks. I've taken intro level classes for a couple languages here and there, but I've been meaning to pick the hobby back up more seriously soon. Some languages I've dabbled in/would like to dig into further:</li>
                            <ul>
                                <li><strong>Farsi / Persion (Dari)</strong> - Technically my first language, but I've gotten awful at it as an adult due to lack of practice. I can still understand casual speech fairly well, but both my accent and vocabulary have atrophied pretty dramatically. I intend to spend some time relearning the basics soon.</li>
                                <li><strong>Japanese</strong> - I grew up with Japanese media in the form of video games, manga, and anime, and I've always had a fascination with the language. I've studied it on and off since highschool, but have never really moved past the beginner level after 1 year of college level instruction.</li>
                                <li><strong>Arabic</strong> - A language with cultural and religious significance that I've had some level of exposure to since I was a child (in the form of listening, not speaking/understanding). I studied it for 2 years in university, and I'd like to revisit it someday.</li>
                                <li><strong>Spanish</strong> - Like so many Americans, I technically studied this langauge for 3 years in High School, but almost none of it stuck. It's a language I've always liked as I've heard it all around me growing up in California, and I'd love to learn it to fluency someday.</li>
                            </ul>
                        <li><strong>Drawing</strong> - I always liked to draw and doodle as a kid, but never really pursued it seriously. As an adult, <a href="/art">I've tried to get back into it</a> here and there.</li>
                        <li><strong>The Lord of the Rings</strong> - I really love fantasy worlds with comprehensive world building, and Tolkien's Middle Earth is about as fleshed out as one can hope for. The movie trilogy remains my favorite film series ever made.</li>
                        <li><strong>Music</strong> - I mainly got into music through video game soundtracks. I taught myself a bit of guitar in highschool but have only recently gotten back into wanting to learn how to play some instruments. I took a few years of piano lessons as an adult to learn the basics and some music theory, but beyond that I've been on and off teaching myself when I find time. I've also started to try my hand at writing (and recording) some music, so check that out on my <a href="/music">music page.</a></li>
                        <li><strong>Programming/Development</strong> - I like making things and the satisfaction that comes with solving problems. When it comes to web dev specifically, I really like the <em>idea</em> of the web, and have fond memories of going online to look up game guides on gamefaqs.com back in the day. That nostalgia for when the web was just about sharing fun stuff is part of what spurred me to get more into web development and create this website.</li>
                    </ul>
                </section>
                <section>
                    <h2>Favorites</h2>
                    <ul>
                        <li><strong>Video Games</strong></li>
                            <ul>
                                <li>The Legend of Zelda: Majora's Mask</li>
                                <li>Final Fantasy X</li>
                                <li>Metal Gear Solid 3</li>
                            </ul>
                        <li><strong>Color</strong> - Purple</li>
                        <li><strong>Thing to do</strong> - Talking about things I'm passionate about, including griping about the parts of those things that I might not like very much</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>