---
import type { intersection, nativeEnum } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import type Music from "./music.astro";
---

<Layout title="About Me | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>About Me</h1>
                    <p>Hello hello, I'm Edrees (pronounced "E-Drees" with a long "ee" sound in the middle).</p>
                </header>
                <section>
                    <h2>Contact Info and Links</h2>
                    <p>If you want to reach out, you can contact me by email at <u>edreeswahezi</u> at <u>gmail</u> dot <u>com</u></p>
                    <p>My Discord username is: edzisedzi</p>
                    <p>Some other places you can find me online:</p>
                    <ul>
                        <li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                        <li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
                        <li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Currently...</h2>
                        <p><i>Last updated October 12th, 2024</i></p>
                    <h3>Working:</h3>
                        <p>I currently work at Crunchyroll as a Software Development Engineer in Test.</p>
                    <h3>Living:</h3>
                        <p>Based in the San Francisco Bay Area.</p>
                    <h3>Doing:</h3>
                        <p>Working on building skills in programming, learning new languages, piano/guitar/composition, and art/illustration.</p>
                    <h3>Reading:</h3>
                        <p>The Anxious Generation by Jonathan Haidt and starting a reread of The Hobbit by J.R.R. Tolkien. Recently finished Children of Dune.</p>
                    <h3>Playing:</h3>
                        <p>Street Fighter 6, Octopath Traveler, and recently finished The Legend of Zelda: Echoes of Wisdom.</p>
                </section>
                <section>
                    <h2>Things I'm Into / Getting Into</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong> - I like playing them when I have time, talking about them, keeping up with the industry, everything. I'm currently trying to learn more about game development.</li>
                        <li><strong>Language Learning</strong> - I'm unfortunately only fluent in English, but I've dabbled with the basics of a few other languages here and there and keep telling myself I'll pick them back up eventually:</li>
                            <ul>
                                <li><strong>Farsi / Persion (Dari)</strong></li>
                                <li><strong>Japanese</strong></li>
                                <li><strong>Arabic</strong></li>
                                <li><strong>Spanish</strong></li>
                            </ul>
                        <li><strong>Drawing</strong> - I was a chronic doodler as a kid, but never really pursued art seriously. As an adult, <a href="/art">I've been trying to get back into it.</a></li>
                        <li><strong>Music</strong> - I'm currently trying to learn both Guitar and Piano. Check out my attempts at composing on my <a href="/music">music page.</a></li>
                        <li><strong>Programming/Development</strong> - Always trying to improve, currently diving into Web and Game Development.</li>
                    </ul>
                </section>
                <section>
                    <h2>Favorites</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong></li>
                            <ul>
                                <li>The Legend of Zelda: Majora's Mask</li>
                                <li>Final Fantasy X</li>
                                <li>Metal Gear Solid 3</li>
                                <li>Ape Escape 1-3</li>
                                <li>Dark Souls</li>
                                <li>Outer Wilds</li>
                                <li>Sonic Adventure 2: Battle</li>
                                <li>Kingdom Hearts 1-2</li>
                                <li>Skies of Arcadia: Legends</li>
                                <li>Pokemon Blue/Yellow/Silver</li>
                                <li>Golden Sun</li>
                                <li>Metroid Fusion</li>
                                <li>So many more...</li>
                            </ul>
                        <li><strong>Color</strong> - Depends on the day, but usually a dark shade of Purple is a safe bet. I'm partial to blues and greens too, can't go wrong with Teal.</li>
                        <li><strong>Season</strong> - Winter</li>
                        <li><strong>Movies</strong></li>
                            <ul>
                                <li>The Lord of the Rings Trilogy</li>
                                <li>Hot Fuzz</li>
                                <li>Pirates of the Caribbean: The Curse of the Black Pearl</li>
                                <li>Pretty much all of the Disney 2D animated movies from the 90's</li>
                                <li>The Truman Show</li>
                                <li>5 Centimeters per Second</li>
                            </ul>
                        <li><strong>Books</strong></li>
                            <ul>
                                <li>The Catcher in the Rye - J.D. Salinger</li>
                                <li>To Kill a Mockingbird - Harper Lee</li>
                                <li>The Hobbit/The Lord of the Rings - J.R.R. Tolkien</li>
                                <li>Musashi - Eiji Yoshikawa</li>
                                <li>Harry Potter - J.K. Rowling</li>
                                <li>1984 - George Orwell</li>
                                <li>Dune Messiah - Frank Herbert</li>
                                <li>Special Mention: All the Goosebumps books I read repeatedly as a kid.</li>
                                <li>I hope to add quite a few more books to this list soon as I've got a monstrous backlog I'm working through.</li>
                            </ul>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>