---
import type { intersection, nativeEnum } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import type Music from "./music.astro";
---

<Layout title="About Me | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>About Me</h1>
                    <p>Hello hello, I'm Edrees (pronounced "E-Drees" with a long "ee" sound in the middle).</p>
                </header>
                <section>
                    <h2>Contact Info and Links</h2>
                    <p>If you want to reach out, you can contact me by email at <u>edreeswahezi</u> at <u>gmail</u> dot <u>com</u></p>
                    <p>Some other places you can find me online:</p>
                    <ul>
                        <li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                        <li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
                        <li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Currently...</h2>
                        <p><i>Last updated June 9th, 2024</i></p>
                    <h3>Working</h3>
                        <p>I currently work at Crunchyroll as a Software Development Engineer in Test.</p>
                    <h3>Living</h3>
                        <p>Surviving in the San Francisco Bay Area/East Bay.</p>
                    <h3>Doing</h3>
                        <p>Trying to work on some long term goals, including getting better at programming/development, learning new languages, improving at music/piano/guitar/composition, and slowly getting back into art/illustration.</p>
                    <h3>Reading</h3>
                        <p>Children of Dune by Frank Herbert</p>
                    <h3>Playing</h3>
                        <p>Street Fighter 6</p>
                </section>
                <section>
                    <h2>Things I'm Into / Getting Into</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong> - I like playing them, talking about them, keeping up with the industry, everything. I'm currently trying to learn more about game development.</li>
                        <li><strong>Language Learning</strong> - I'm regretablly only fluent in English, but I've dabbled with the basics of a few other languages here and there:</li>
                            <ul>
                                <li><strong>Farsi / Persion (Dari)</strong></li>
                                <li><strong>Japanese</strong></li>
                                <li><strong>Arabic</strong></li>
                                <li><strong>Spanish</strong></li>
                            </ul>
                        <li><strong>Drawing</strong> - I always liked to draw and doodle as a kid, but never really pursued it seriously. As an adult, <a href="/art">I've been trying to get back into it.</a></li>
                        <li><strong>Music</strong> - I mainly got into music through video game soundtracks and I'm currently trying to learn both Guitar and Piano. Check out my attempts at composing on my <a href="/music">music page.</a></li>
                        <li><strong>Programming/Development</strong> - Aiming for mastery, currently diving into Web and Game Development.</li>
                    </ul>
                </section>
                <section>
                    <h2>Favorites</h2>
                    <ul class="spaced-list">
                        <li><strong>Video Games</strong></li>
                            <ul>
                                <li>The Legend of Zelda: Majora's Mask</li>
                                <li>Final Fantasy X</li>
                                <li>Metal Gear Solid 3</li>
                                <li>Dark Souls</li>
                                <li>Outer Wilds</li>
                                <li>Lots more...</li>
                            </ul>
                        <li><strong>Color</strong> - Depends on the day, but usually Purple is a safe bet</li>
                        <li><strong>Season</strong> - Winter</li>
                        <li><strong>Movies</strong></li>
                            <ul>
                                <li>The Lord of the Rings Trilogy</li>
                                <li>Hot Fuzz</li>
                                <li>Pirates of the Caribbean: The Curse of the Black Pearl</li>
                                <li>90's Disney animated movies</li>
                            </ul>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>