---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Art">
    <main>
        <div class="container-art">
            <div class="container">
                <header class="main-content-header">
                    <h1>Art</h1>
                    <p>I used to draw a lot as a kid, and as an adult I periodically attempt to pick the hobby back up.</p>
                </header>
            </div>

            <div class="art-cards-container"></div>
        </div>
    </main>
</Layout>

<style>
    .container-art {
        max-width: 1200px;

        margin: 0 auto; 
        padding: 0 30px; 
    }  

    .art-cards-container {        
        display: flex; 
        gap: 1rem; 
    }

</style>