---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <main>
        <div class="container">
            <header class="main-content-header">
                <h1>Blog</h1>
            </header>
        </div>
    </main>
</Layout>