---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dev">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Dev</h1>
                    <p>I studied some Computer Science back in school, and by day I work in software 
                        API/UI automation testing. I also dabble in general development projects in my free time.</p>
                </header>
                <section>
                    <h2>Tools</h2>
                    <h3>Testing</h3>
                    <h3>Development</h3>
                </section>
                <section>
                    <h2>Things I'm Learning</h2>
                </section>
            </article>
        </div>
    </main>
</Layout>