---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dev | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Dev</h1>
                    <p>I'm a programmer who works in Software/Web/API Testing by day, and dabbles in various development projects by night.</p>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/edrees-wahezi/">LinkedIn</a></li>
                        <li><a href="https://github.com/edreesw">GitHub</a></li>
                    </ul>   
                </header>
                <section>
                    <h2>General Experience and Skills</h2>
                    <ul class="spaced-list">
                        <li><strong>Languages</strong> - Java, Javascript/Typescript, Node.js, Python, HTML/CSS, C, C++, C#, Swift, Kotlin, SQL, JSON</li>
                        <li><strong>Tools</strong> - Selenium, Playwright, Cypress, REST Assured, Webpack, TestNG, Jest, Jira, Jenkings, Confluence, TestRail, Postman, Appium</li>
                        <li><strong>Concepts</strong> - Version Control (Git), Testing (Unit, Component, Integration, End-to-end), Computer Science Fundamentals (Data Structures and Algorithms), Web Development, Databases, Scripting and Automation</li>
                    </ul>
                </section>
                <section>
                    <h2>Things I'm Learning/Working on</h2>
                    <ul class="spaced-list">
                        <li><strong>Web Development</strong> - This site is an example of my recent dive into Web Development, and was built using the Astro framework. I'm focusing on both the Frontend and Backend</li>
                        <li><strong>Game Development</strong> - I've previously dabbled in basic game dev by making a simple Pong clone using the SDL2 graphics library, but I'm currently starting to look into tools such as the Godot engine and the MonoGame framework in order to start some bigger 2D projects</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>