---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Edrees Wahezi">
	
	<main>
		<div class="container">
			<section class="hero">
				<h1>Hi, I'm Edrees.</h1>
				<p>Welcome to my website. There's no grand plan here, I don't have any plans to track analytics 
					or monetize this place in any way. If you're new here I recommend starting in 
					the <a href="/about">About</a> page. Enjoy your stay.</p>
			</section>

			<section>
				<h2>Quick Links</h2>
				<ul>
					<li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
					<li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
					<li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
					<li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
				</ul>
			</section>

		</div>
	</main>

</Layout>

<style>

</style>