---
import Layout from '../layouts/Layout.astro';
import PostsList from '../components/PostsList.astro'; 
import { getCollection } from "astro:content";

const posts = await getCollection("posts"); 
---

<Layout title="Edrees Wahezi">
	
	<main>
		<div class="container">
			<header class="main-content-header">
				<h1>Hi, I'm Edrees.</h1>
				<p>Welcome to my website.</p>
				<p>This is mainly just a place for me to post whatever, a throwback to the days when the internet was a bit simpler. No ads or monetization. If you're new here I recommend starting in 
					the <a href="/about">About Me</a> page. Enjoy your stay.</p>
			</header>

			<section>
				<h2>Quick Links</h2>
				<p>Here are some other places you can find me on the internet: </p>
				<ul>
					<li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
					<li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
					<li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
					<li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
				</ul>
			</section>

			<section>
				<h2>Most Recent Blog Posts</h2>
				<PostsList
					posts={posts}
					num={3} />		
			</section>

		</div>
	</main>

</Layout>

<style>

</style>