---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Links | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Links</h1>
                    <p>Here are some links to internet things I like and recommend.</p> 
                </header>

                <section>
                    <h2>Videos and Youtubers:</h2>
                    <p>Listing some of my favorite video creators and a link to a video of theirs I especially enjoyed.</p>
                    <ul> 
                        <li><a href="https://www.youtube.com/watch?v=AIxY_Y9TGWI" target="_blank" rel="noopener noreferrer">Tantacrul</a> - Really interesting music related videos.</li>
                        <li><a href="https://www.youtube.com/watch?v=v7kYBJFmsJg" target="_blank" rel="noopener noreferrer">Plague of Gripes</a> - There are some really insightful media related videos on this channel alongside some strange/funny animations.</li>
                        <li><a href="https://www.youtube.com/watch?v=ZK4gM7RC1M0" target="_blank" rel="noopener noreferrer">Jenny Nicholson</a> - Full of weirdly entertaining long-form videos on fun topics.</li>
                        <li><a href="https://www.youtube.com/watch?v=gFXcwv9XISc" target="_blank" rel="noopener noreferrer">Adam Neely</a> - Lots of interesting and informative videos covering musical topics.</li>
                        <li><a href="https://www.youtube.com/watch?v=h3T0q0gXapQ" target="_blank" rel="noopener noreferrer">8-Bit Music Theory</a> - Music theory analysis of video game tunes.</li>
                        <li><a href="https://www.youtube.com/shorts/VeNZ87glgZg" target="_blank" rel="noopener noreferrer">Value Select</a> - Short and funny music videos.</li>
                        <li><a href="https://www.youtube.com/watch?v=qjtQSMe0VeI" target="_blank" rel="noopener noreferrer">Chris and Jack</a> - Really clever and funny comedy sketches.</li>
                        <li><a href="https://www.youtube.com/watch?v=UXZGzhsS-5I" target="_blank" rel="noopener noreferrer">Mega64</a> - Long running channel primarily known for video game comedy sketches.</li>
                        <li><a href="https://www.youtube.com/watch?v=YQ_xWvX1n9g" target="_blank" rel="noopener noreferrer">Folding Ideas</a> - Well researched and compelling video essays and documentaries.</li>
                        <li><a href="https://www.youtube.com/@NerdoftheRings/videos" target="_blank" rel="noopener noreferrer">Nerd of the Rings</a> - My go to place online for accessible Tolkien/Middle Earth knowledge.</li>
                    </ul>
                </section>

                <section>
                    <h2>Websites:</h2>
                    <ul>
                        <li><a href="https://legendsoflocalization.com/" target="_blank" rel="noopener noreferrer">Legends of Localization</a> - Interesting articles focused around video game localization.</li>
                        <li><a href="https://www.myretrotvs.com/" target="_blank" rel="noopener noreferrer">My Retro TVs</a> - Cool little site that lets you watch and get nostalgic over old TV programs.</li>
                        <li><a href="https://vgleadsheets.com/" target="_blank" rel="noopener noreferrer">VG Lead Sheets</a> - Incredibly useful site for musicians looking for basic lead sheets to video game music.</li>
                    </ul>
                </section>

                <section>
                    <h2>Podcasts:</h2>
                    <ul>
                        <li><a href="https://open.spotify.com/show/2p6PrZba5A26XYj7eMle21" target="_blank" rel="noopener noreferrer">The Jeff Gerstmann Show</a> - Solo video game podcast by an industry veteran.</li>
                        <li><a href="https://open.spotify.com/show/5U8b2uUsXctOGDZzhbpdUb" target="_blank" rel="noopener noreferrer">The Nextlander Podcast</a> - Another video game podcast by three industry veterans.</li>
                        <li>Need to find more varied podcasts...</li>
                        
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>