---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Links | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Links</h1>
                    <p>Here are some links to my stuff online and general internet things I like and recommend.</p> 
                </header>

                <section>
                    <h2>My Stuff:</h2>
                    <h3>Miscellaneous</h3>
                        <ul>
                            <li><a href="https://bsky.app/profile/edreesw.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a></li>
                        </ul>
                    <h3>General Media</h3>
                        <ul>
                        <li><a href="https://twitch.tv/edzisedzi" target="_blank" rel="noopener noreferrer">Twitch</a></li>
                        <li><a href="https://steamcommunity.com/id/sedzi/" target="_blank" rel="noopener noreferrer">Steam</a></li>
                        <li><a href="https://letterboxd.com/edreesw/" target="_blank" rel="noopener noreferrer">Letterboxd</a> - Movie Tracker</li>
                        <li><a href="https://www.backloggd.com/u/edrees/" target="_blank" rel="noopener noreferrer">Backloggd</a> - Video Game Tracker</li>
                        <li><a href="https://app.thestorygraph.com/profile/edrees" target="_blank" rel="noopener noreferrer">The StoryGraph</a> - Book Tracker / Goodreads alternative</li>
                        </ul>
                    <h3>Music</h3>
                        <ul>
                        <li><a target="_blank" href="https://open.spotify.com/user/1zbighr03iu4jnq7exqt2fr1m/playlists">Spotify Playlists</a></li>
                        <li><a target="_blank" href="https://soundcloud.com/edreesw">SoundCloud</a></li>
                    </ul>
                    <h3>Photography</h3>
                    <ul>
                        <li><a href="https://www.instagram.com/edreeswahezi/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                        <li><a href="" target="_blank" rel="noopener noreferrer">Flickr</a></li>
                    </ul>
                    <h3>Development / Work</h3>
                    <ul>
                        <li><a href="https://github.com/edreesw" target="_blank" rel="noopener noreferrer">Github</a></li>
                        <li><a href="https://linkedin.com/in/edrees-wahezi/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                    </ul>
                </section>

                <section>
                    <h2>Videos and Video Creators:</h2>
                    <p>Listing some of my favorite video creators and a link to a video of theirs I especially enjoyed.</p>
                    <ul> 
                        <li><a href="https://www.youtube.com/watch?v=AIxY_Y9TGWI" target="_blank" rel="noopener noreferrer">Tantacrul</a> - Really well researched videos that mostly focus on music but also delve into other topics.</li>
                        <li><a href="https://www.youtube.com/watch?v=v7kYBJFmsJg" target="_blank" rel="noopener noreferrer">Plague of Gripes</a> - There are some really insightful media related videos on this channel alongside many strange but mostly amusing animations.</li>
                        <li><a href="https://www.youtube.com/watch?v=ZK4gM7RC1M0" target="_blank" rel="noopener noreferrer">Jenny Nicholson</a> - Full of weirdly entertaining videos on fun topics.</li>
                        <li><a href="https://www.youtube.com/watch?v=gFXcwv9XISc" target="_blank" rel="noopener noreferrer">Adam Neely</a> - Lots of interesting and informative videos covering musical topics.</li>
                        <li><a href="https://www.youtube.com/watch?v=h3T0q0gXapQ" target="_blank" rel="noopener noreferrer">8-Bit Music Theory</a> - Music theory analysis of video game tunes.</li>
                        <li><a href="https://www.youtube.com/shorts/VeNZ87glgZg" target="_blank" rel="noopener noreferrer">Value Select</a> - Short comedy music videos.</li>
                        <li><a href="https://www.youtube.com/watch?v=qjtQSMe0VeI" target="_blank" rel="noopener noreferrer">Chris and Jack</a> - Really clever comedy sketch channel.</li>
                        <li><a href="https://www.youtube.com/watch?v=UXZGzhsS-5I" target="_blank" rel="noopener noreferrer">Mega64</a> - Long running channel primarily known for video game comedy sketches.</li>
                        <li><a href="https://www.youtube.com/watch?v=YQ_xWvX1n9g" target="_blank" rel="noopener noreferrer">Folding Ideas</a> - Well researched and compelling video essays and documentaries.</li>
                        <li><a href="https://www.youtube.com/@NerdoftheRings/videos" target="_blank" rel="noopener noreferrer">Nerd of the Rings</a> - My go to place online for accessible Tolkien/Middle Earth knowledge.</li>
                        <li><a href="https://www.youtube.com/watch?v=ZOkRF3Xp_4E" target="_blank" rel="noopener noreferrer">Horses</a> - I don't really know much about this channel but it has some really thought provoking videos that I was lucky to have stumbled across.</li>
                        <li><a href="https://www.youtube.com/watch?v=Nvef1JiIPrs" target="_blank" rel="noopener noreferrer">The Ash Files</a> - Short, well written inspirational videos.</li>
                        <li><a href="https://www.youtube.com/watch?v=BvGDdV83jnY" target="_blank" rel="noopener noreferrer">Jared Henderson</a> - Videos on literature, philosophy, life, etc...</li>
                    </ul>

                    <h3>Bonus Video(s) That Make Me Laugh Every Time:</h3>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=ki_bECL259g" target="_blank rel" rel="noopener noreferrer">Classic Giant Bomb - Let's watch a pro...</a></li>
                    </ul>
                </section>

                <section>
                    <h2>Websites I Recommend:</h2>
                    <ul>
                        <li><a href="https://legendsoflocalization.com/" target="_blank" rel="noopener noreferrer">Legends of Localization</a> - Interesting articles focused around video game localization.</li>
                        <li><a href="https://www.myretrotvs.com/" target="_blank" rel="noopener noreferrer">My Retro TVs</a> - Cool little site that lets you watch and get nostalgic over old TV programs.</li>
                        <li><a href="https://vgleadsheets.com/" target="_blank" rel="noopener noreferrer">VG Lead Sheets</a> - Incredibly useful site for musicians looking for basic lead sheets to video game music.</li>
                    </ul>
                </section>

                <section>
                    <h2>Podcasts I Enjoy:</h2>
                    <ul>
                        <li><a href="https://open.spotify.com/show/2p6PrZba5A26XYj7eMle21" target="_blank" rel="noopener noreferrer">The Jeff Gerstmann Show</a> - Solo video game podcast by an industry veteran.</li>
                        <li><a href="https://open.spotify.com/show/5U8b2uUsXctOGDZzhbpdUb" target="_blank" rel="noopener noreferrer">The Nextlander Podcast</a> - Another general video game podcast by three industry veterans.</li>
                        <li><a href="https://open.spotify.com/show/0rOatMqaG3wB5BF4AdsrSX" target="_blank" rel="noopener noreferrer">Behind the Bastards</a> - Deep dives into despicable people.</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>