---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Music">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Music</h1>
                    <p>I try to dabble with music here and there, but I've still got a long way to go.</p>
                </header>
                <section>
                    <h2>Some Songs I've Written</h2>
                </section>
                <section>
                    <h2>Instruments I'm Learning</h2>
                </section>
            </article>
        </div>
    </main>
</Layout>