---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Music | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Music</h1>
                    <p>I try to dabble with music here and there.</p>
                    <p>I'd say my musical tastes were mainly shaped by the various video game soundtracks I grew up with, though what I listen to nowadays is fairly varied. Here's a sampler: </p>
                    <ul>
                        <li><a target="_blank" href="https://open.spotify.com/user/1zbighr03iu4jnq7exqt2fr1m/playlists">My Spotify Playlists</a></li>
                    </ul>
                </header>
                <section>
                    <h2>Some Songs I've Written</h2>

                    <div class="song-list">
                        <div class="song-section">
                            <h3>An October Haunting - 2023</h3>
                            <audio controls>
                                <source src="/music/AnOctoberHaunting_Oct2023_forwebsite.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p>Wrote this in an attempt to come up with something October/Halloween themed.</p>
                        </div>

                        <div class="song-section">
                            <h3>Piano Orchestra Song - 2023</h3>
                            <audio controls>
                                <source src="/music/PianoOrchestraSong_2023_forwebsite.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p>This song game out of me playing around with some Orchestral plugins and trying to write something in an odd time signature.</p>
                        </div>

                        <div class="song-section">
                            <h3>Happy Tune - 2023</h3>
                            <audio controls>
                                <source src="/music/HappyTune_2023_forwebsite.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p>Something I came up with when experimenting with recording my acoustic guitar.</p>
                        </div>

                        <div class="song-section">
                            <h3>Triumphant Loop - 2023/2025</h3>
                            <audio controls loop>
                                <source src="/music/TriumphantIdea_May2023July2025_forwebsite.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p>Initial 4 bar idea was something I came up with in 2023 while playing around with an Orchestra plugin, and I added another 4 bars to make the loop in 2025.</p>
                        </div>

                        <div class="song-section">
                            <h3>Rising Waltz (MIDI MuseScore audio) - 2020/2021</h3>
                            <audio controls>
                                <source src="/music/Rising_Waltz_MIDI_2021_forwebsite.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p>My first serious attempt at writing something simple for the piano.</p>
                        </div>
                    </div>

                </section>
                <section>
                    <h2>Gear</h2>
                    <ul>
                        <li>Piano - Yamaha P-115</li>
                        <li>Acoustic Guitar - Seagull S6</li>
                        <li>Electric Guitar - Ibanez RG421</li>
                        <li>Electric Bass - Yamaha TRBX174</li>
                        <li>Microphone - Shure SM57</li>
                        <li>Audio Interface - Scarlett 2i2</li>
                        <li>DAW - Logic Pro</li>
                        <li>MIDI Controller - Arturia MiniLab Mk II </li>
                        <li>Notation Software - Musescore</li>
                        <li>Plugins - Pianoteq 8, Spitfire Audio (BBC Orchestra), Neural DSP (Tone King, Soldano, Archetypes Cory Wong and Petrucci)</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>

<style>
    .song-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: scroll;
        max-height: 400px;
        scrollbar-gutter: stable both-edges;
    }

    .song-section {
        
    }

    .song-list, .song-section {
        border: 2px solid var(--font-color);
        border-radius: 10px;
        padding: 1rem;
    }

    audio {
        width: 100%;
    }
</style>