---
import SongList from "../components/SongList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Music | Edrees Wahezi">
    <main>
        <div class="container">
            <article>
                <header class="main-content-header">
                    <h1>Music</h1>
                    <p>I try to dabble with music here and there.</p>
                    <p>I'd say my musical tastes were mainly shaped by the various video game soundtracks I grew up with, though what I listen to nowadays is fairly varied. Here's a sampler: </p>
                    <ul>
                        <li><a target="_blank" href="https://open.spotify.com/user/1zbighr03iu4jnq7exqt2fr1m/playlists">My Spotify Playlists</a></li>
                    </ul>
                </header>
                <section>
                    <h2>Some Songs I've Written</h2>

                    <SongList></SongList>
                </section>
                <section>
                    <h2>Gear</h2>
                    <ul>
                        <li>Piano - Yamaha P-115</li>
                        <li>Acoustic Guitar - Seagull S6</li>
                        <li>Electric Guitar - Ibanez RG421</li>
                        <li>Electric Bass - Yamaha TRBX174</li>
                        <li>Microphone - Shure SM57</li>
                        <li>Audio Interface - Scarlett 2i2</li>
                        <li>DAW - Logic Pro</li>
                        <li>MIDI Controller - Arturia MiniLab Mk II </li>
                        <li>Notation Software - Musescore</li>
                        <li>Plugins - Pianoteq 8, Spitfire Audio (BBC Orchestra), Neural DSP (Tone King, Soldano, Archetypes Cory Wong and Petrucci)</li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
</Layout>

<style>

</style>