<footer id="footer">
    <div class="container">
        <div id="footer-content-container">
            <p>{new Date().getFullYear()} &copy; Edrees Wahezi</p>
            <a href="/rss.xml" id="nav-rss-link">RSS</a>
        </div>
        
    </div>
</footer>

<style>
    footer {
        padding: 1rem 0; 
        text-align: center;

        opacity: 0.5;
    }

    #footer-content-container {
        display: flex; 
        justify-content: space-between;
        align-items: center;

        font-size: .8em;
    }

    #nav-rss-link {
        color: var(--font-color); 
        text-decoration: none;
    }

    #nav-rss-link:hover {
        text-decoration: underline;
    }
</style>