---
import ThemeButton from "../components/ThemeButton.astro";
---

<header id="nav-header">
    <div class="container">
        <nav>
            <div id="nav-title-row">
                <a id="logo-container" href="/">
                    <img class="logo" src="/mirrorshieldpixel.png" alt="Edrees's Mirror Shield Pixel Logo">
                    <span id="header-text">Edrees Wahezi</span>
                </a>

                <div id="header-buttons-container">
                    <ThemeButton />
                    <a href="/rss.xml" id="nav-rss-link">RSS</a>
                </div>
                
            </div>


            <ul id="nav-tabs-list">
                <li><a href="/about">About</a></li>
                <li>/</li>
            <!--
                <li><a href="/dev">Dev</a></li>
                <li>/</li>
            -->
                <li><a href="/blog">Blog</a></li>
                <li>/</li>
            <!-- 
                <li><a href="/art">Art</a></li>
                <li>/</li>
                <li><a href="/music">Music</a></li>
                <li>/</li>
            -->
                <li><a href="/links">Links</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    #nav-header {
        padding: 2rem 0 1rem;
    }

    #header-text {
        font-size: 1.2rem;
        font-weight: 500;
    }

    #nav-tabs-list {
        list-style: none;
        display: flex; 
        justify-content: center;
        flex-wrap: wrap; 
        margin: 0 auto; 
        gap: 1rem;
        
        padding: 1rem 0; 
    
    }

    #logo-container {
        display: flex;
        align-items: center;
        gap: .8em; 

        color: var(--font-color); 
    }
    .logo {
        width: 2em;
        height: 2em;
    }

    #nav-title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .8em; 
    }


    a {
        text-decoration: none;
        color: var(--font-color);
    }

    /*
    #nav-tabs-list a:hover {
        text-decoration: underline;
    }

    #nav-rss-link:hover {
        text-decoration: underline;
    }
    */

    #nav-header a:hover {
        text-decoration: underline;
        color: var(--accent-primary)
    }

    #header-buttons-container {
        display: flex;
        align-items: center;
        gap: .8em; 
    }



</style>