<header class="nav-header">
    <div class="container">
        <nav>
            <a class="logo-container" href="/">
                <img class="logo" src="/mirrorshieldpixel.png" alt="Edrees's Mirror Shield Pixel Logo">
                <span class="header-text">Edrees Wahezi</span>
            </a>

            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/dev">Dev</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/art">Art</a></li>
                <li><a href="/music">Music</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header.nav-header {
        padding: 2rem 0 1rem;
    }

    .header-text {
        font-size: 1.2rem;
        font-weight: 500;
    }

    nav ul {
        list-style: none;
        display: flex; 
        justify-content: center;
        gap: 0.8rem;
        
        padding: 1rem 0; 
    
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: .8em; 
    }
    .logo {
        max-width: 2em;
    }
</style>